<div class="container text-center index_div">
    <section class="bienvenida">
        {{#if user}}
        <div class="container">
            <div>
                <img src="{{user.photo}} {{user.user.photo}}" alt="Corona" class="foto-perfil">
            </div>
            {{#if user.premium}}
                <h2 class="premium-text">Usuario Premium</h2>
            {{/if}}
            <div>
                <h1>Bienvenido <a href="/users/profile"> {{user.first_name}} {{user.last_name}} {{user.user.first_name
                        }} </a> </span></h1>
            </div>
        </div>

        {{else}}
        <h1>Bienvenido</h1>
        {{/if}}

    </section>
    <h2 class="hidden">{{user.email}}</h2>
    <h2>Productos Favoritos</h2>
    {{#if user}}
    <h3>Seleccionar la cantidad de Productos a Visualizar</h3>
    <div class="input-group group-limit">
        <input type="number" name="cantidad" class="form-control" value="1" min="1" max="{{ productLength }}">
        <div class="input-group-append">
            <a href="/?limit=" class="btn btn-primary" id="verBtn">Ver</a>
        </div>
    </div>
    {{/if}}
</div>


<section class="products">
    <div id="product-container" class="container products">
        {{#each products}}
        <div class="card" style="width: 18rem; height:33rem;">
            <img class="card-img-top" src="{{ this.thumbnail }}" alt="Card image cap">            
            <div class="card-body">
                <h4 class="card-title">{{ this.title }}</h4>
                <p class="card-text">{{ this.description }} </p>
                <h5 class="card-text">${{ this.price }}.- </h5>
                <div class="buttons_pay">
                    <form action="/carts/{{this._id}}" method="POST">
                        <div class="input-group group-comprar">
                            {{#if this.stock}}
                            <input type="number" name="cantidad" class="form-control" value="1" min="1"
                                max={{this.stock}}>
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-success">Agregar al Carrito <i
                                        class="fa fa-cart-plus"></i></button>
                            </div>
                            {{else}}
                            <h1 class="NoHayStock">¡No hay stock!</h1>
                            {{/if}}
                        </div>
                    </form>

                    <a href="/productsid/{{this._id}}" class="btn btn-secondary">Detalles</a>
                </div>

            </div>
        </div>
        {{/each}}
    </div>
</section>


<script>
    document.getElementById("verBtn").addEventListener("click", function () {
        let cantidad = document.getElementsByName("cantidad")[0].value;
        let verBtn = document.getElementById("verBtn");
        verBtn.href = "/?limit=" + cantidad;
    });
</script>