<div class="container text-center index_div">
    <section class="bienvenida">
        {{#if user}}
        <h1>Bienvenido <span>{{user.first_name}} {{user.last_name}} {{user.user.first_name }}</span></h1>        
        {{else}}
        <h1>Bienvenido</h1>
        {{/if}}
        {{#if user}}
        {{#ifEqual user.role "admin"}}
        <img src="../img/corona.png" alt="Corona" srcset="">
        {{/ifEqual}}
        {{/if}}
    </section>

    <h2>Productos Favoritos</h2>
    <h3>Seleccionar la cantidad de Productos a Visualizar</h3>
    <div class="input-group group-limit">
        <input type="number" name="cantidad" class="form-control" value="1" min="1" max="{{ productLength }}">
        <div class="input-group-append">
            <a href="/?limit=" class="btn btn-primary" id="verBtn">Ver</a>
        </div>
    </div>
</div>


<section class="products">
    <div id="product-container" class="container products">
        {{#each products}}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ this.thumbnail }}" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">{{ this.title }}</h4>
                <p class="card-text">{{ this.description }} </p>
                <h5 class="card-text">${{ this.price }}.- </h5>
                <div class="buttons_pay">
                    <form action="/carts/{{this._id}}" method="POST">
                        <div class="input-group group-comprar">
                            <input type="number" name="cantidad" class="form-control" value="1" min="1"
                                max={{productos.stock}}>
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-success">Agregar al Carrito</button>
                            </div>
                        </div>
                    </form>

                    <a href="/productsid/{{this._id}}" class="btn btn-secondary">Detalles</a>
                </div>

            </div>
        </div>
        {{/each}}
    </div>
</section>


<script>
    document.getElementById("verBtn").addEventListener("click", function () {
        let cantidad = document.getElementsByName("cantidad")[0].value;
        let verBtn = document.getElementById("verBtn");
        verBtn.href = "/?limit=" + cantidad;
    });
</script>
