<div class="container text-center index_div">
    <h1>Producto con ID: {{product._id}} </h1>
</div>
<section class="products">
    <div class="container text-center product_container">
        <h1>{{ product.title }}</h1>

        <div class="row">
            <div class="col-md-6">
                <img src="{{ product.thumbnail }}" alt="{{ product.title }}">
            </div>
            <div class="col-md-6 text-left description_product">
                <h2>Categoría: {{ product.category }}</h2>
                <h3>Size: {{ product.size }}</h3>
                <h3>Código: {{ product.code }}</h3>
                <h5>{{ product.description }}</h5>
                <h4>Stock: {{ product.stock }}</h4>
                <h5 class="price_product">${{ product.price }}.-</h5>
                <div class="buttons_pay">
                    <form action="/carts/{{product._id}}" method="POST">
                        <div class="input-group group-comprar">
                            <input type="number" name="cantidad" class="form-control" value="1" min="1"
                                max={{product.stock}}>
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-success">Agregar al Carrito</button>
                            </div>
                        </div>
                    </form>

                    <div class="links">
                        {{!-- Seccion Administrador --}}
                        {{#if user.role}}
                        {{#ifEqual user.role "admin"}}
                        <a href="/productsedit/{{product._id}}" class="btn btn-secondary">Editar</a>
                        <a href="/productsdeletebyid/{{product._id}}" class="btn btn-danger">Eliminar</a>
                        {{/ifEqual}}
                        {{/if}}
                        {{!-- Seccion Administrador --}}
                        <a href="/products" class="btn btn-primary">Volver</a>
                    </div>

                </div>
            </div>

        </div>

    </div>

</section>