<section class="noAutorizado">
    <div class="container login usersss">
        {{#if user}}
        <a href="/users/profile/set-profile-photo/{{ user.userId }}">
            <img src="{{photo}}" alt="Foto de Perfil" class="perfil-photo">
        </a>
        <a href="/users/profile/set-profile-photo/{{ user.userId }}">
            <h5>Cambiar Avatar </h5>
        </a>
        {{#if user.premium}}
        <h2 class="premium-text">Usuario Premium</h2>
        {{/if}}
        <h1><span>ID: </span>{{ user.userId}} {{ user.user._id}}</h1>
        <h1><span> Nombre completo: </span>{{user.first_name}} {{user.last_name}} {{ user.user.first_name }}</h1>
        <h1><span>Correo: </span>{{user.email}} {{ user.user.email }}</h1>
        <h1><span>Role: </span>{{user.role}} {{ user.user.role }}</h1>
        <h1><span>Edad: </span>{{user.age}} {{ user.user.age }}</h1>
        <h1><span>Telefono: </span>{{user.phone}} {{ user.user.phone }}</h1>
        <a href="/" class="btn btn-success">Volver</a>
        <a href="/logout" class="btn btn-danger">Logout</a>
        <a href="/users/delete-for-my-self/{{user.userId}}" id="delete-forever">Eliminar Cuenta?</a>
        <div id="confirmation-modal" style="display: none;">
            <h3>¿Está seguro de que desea eliminar su cuenta?</h3>
            <button id="confirm-delete" class="btn btn-danger">Confirmar</button>
            <button id="cancel-delete" class="btn btn-secondary">Cancelar</button>
        </div>
        {{/if}}
    </div>
</section>
<script>
    const deleteBtn = document.getElementById('delete-forever');
    const confirmationModal = document.getElementById('confirmation-modal');
    const confirmDeleteBtn = document.getElementById('confirm-delete');
    const cancelDeleteBtn = document.getElementById('cancel-delete');

    deleteBtn.addEventListener('click', (event) => {
        event.preventDefault();
        confirmationModal.style.display = 'block';
    });

    confirmDeleteBtn.addEventListener('click', () => {
        window.location.href = deleteBtn.getAttribute('href');
    });

    cancelDeleteBtn.addEventListener('click', () => {
        confirmationModal.style.display = 'none';
    });
</script>