
<section class="noAutorizado">
    <div class="container login usersss">
        <img src="/img/persona.png" alt="Persona">
        <h1><span> Nombre completo: </span>{{user.first_name}} {{user.last_name}} {{user.user.first_name }}</h1>

        <h1><span>Correo: </span>{{user.email}} {{user.user.email}}</h1>
        <h1><span>Role: </span>{{user.role}} {{user.user.role}}</h1>
        <h1><span>Email: </span>{{user.email}} {{user.user.email}}</h1>
        <h1><span>Telefono: </span>{{user.phone}} {{user.user.phone}}</h1>
        <a href="/" class="btn btn-success">Salir</a>
    </div>
</section>