<section class="noAutorizado">
    <div class="container login usersss">
        {{#if user}}
            {{#ifEqual user.role "admin"}}
                <img src="../img/corona.png" alt="Corona" srcset="">
            {{else}}
                <img src="/img/persona.png" alt="Persona">
            {{/ifEqual}}

            <h1><span> Nombre completo: </span>{{user.first_name}} {{user.last_name}} {{ user.user.first_name }}</h1>
            <h1><span>Correo: </span>{{user.email}} {{ user.user.email }}</h1>
            <h1><span>Role: </span>{{user.role}} {{ user.user.role }}</h1>
            <h1><span>Edad: </span>{{user.age}} {{ user.user.age }}</h1>
            <h1><span>Telefono: </span>{{user.phone}} {{ user.user.phone }}</h1>
            <a href="/" class="btn btn-success">Volver</a>
            <a href="/logout" class="btn btn-danger">Logout</a>
        {{/if}}
    </div>
</section>
