<section class="noAutorizado">
    <div class="container login usersss">
        {{#if user}}
            {{#ifEqual user.role "admin"}}
                <img src="../img/corona.png" alt="Corona" srcset="">
            {{else}}
                <img src="/img/persona.png" alt="Persona">
            {{/ifEqual}}

            <h1><span> Nombre completo: </span>{{user.first_name}} {{user.last_name}}</h1>
            <h1><span>Correo: </span>{{user.email}}</h1>
            <h1><span>Role: </span>{{user.role}}</h1>
            <h1><span>Email: </span>{{user.email}}</h1>
            <h1><span>Telefono: </span>{{user.phone}}</h1>
            <a href="/" class="btn btn-success">Volver</a>
            <a href="/logout" class="btn btn-danger">Logout</a>
        {{/if}}
    </div>
</section>
