<div class="container tablaUsuarios">
    <h1>Lista de Usuarios</h1>
    <table class="table table-striped">
        <thead class="headTable">
            <tr>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Edad</th>
                <th>Rol</th>
                <th>Categoría</th>
                <th>Estado</th>
                <th>Ultima Conexión</th>
                <th class="actions-column-todo">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td><img src="{{this.photo}}" alt="" class="foto-perfil-chica"></td>
                <td>{{this.first_name}}</td>
                <td>{{this.last_name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.age}}</td>
                <td>{{this.role}}</td>
                <td>
                    {{#if this.premium}}
                    <span style="color: blue;">Premium</span>
                    {{else}}
                    <span style="color: black;">Básico</span>
                    {{/if}}
                </td>
                <td>
                    {{#if this.active}}
                    <span style="color: green;">Conectado</span>
                    {{else}}
                    <span style="color: red;">Desconectado</span>
                    {{/if}}
                </td>
                <td>{{formatDate this.updatedAt}}</td>
                <td class="actions-column">
                    <a href="/users/edit/{{this._id}}" class="btn btn-primary btn-sm">Editar</a>
                    <a href="/users/delete/{{this._id}}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="input-group group-comprar">
        <a href="/users/newUser" class="btn btn-outline-success ">Crear un Usuario Nuevo (Modo de Prueba para Test de
            Errores) </a>
        <a href="/signupadmin" class="btn btn-secondary ">Crear una Cuenta Nueva</a>
        <a href="/admin_panel" class="btn btn-primary ">Volver</a>
    </div>
</div>